GEMINI_API_KEY=AIzaSyC87j-hYExeeIGKrP1ROLufB8MjNUIU1GA
SUPABASE_URL=https://esuspkijalothviwlftt.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzdXNwa2lqYWxvdGh2aXdsZnR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NzI0MjEsImV4cCI6MjA4NzQ0ODQyMX0.0ziLsesCYFfRm5UKxQBt5zhinda2QIqWEXT9hVrS59k
